<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            
            <section name="WASAPI_Arduino.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SoundSampler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            
            <section name="SoundSampler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        
        <WASAPI_Arduino.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="bassBased" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateSpeed" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="entropy" serializeAs="String">
                <value>0.999</value>
            </setting>
            <setting name="smoothing" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="portIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="updateSpeedIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="audioHandlingIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Hz31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz125" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz250" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz500" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz1000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz2000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz4000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz8000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz16000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="preamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="corrector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bar31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar125" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar250" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar500" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar1000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar2000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar4000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar8000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar16000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BarPreamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="barSmoothing" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="reload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="text31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text125" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text250" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text500" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text1000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text2000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text4000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text8000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text16000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textPreamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textSmoothing" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="formClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Colour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CustomC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomC16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hex" serializeAs="String">
                <value>FFFFFF</value>
            </setting>
        </WASAPI_Arduino.Properties.Settings>
        <SoundSampler.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="bassBased" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateSpeed" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="entropy" serializeAs="String">
                <value>0.999</value>
            </setting>
            <setting name="smoothing" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="portIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="updateSpeedIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="audioHandlingIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Hz31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz125" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz250" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz500" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz1000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz2000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz4000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz8000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hz16000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="preamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="corrector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bar31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar125" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar250" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar500" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar1000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar2000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar4000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar8000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bar16000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BarPreamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="barSmoothing" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="reload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="text31" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text62" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text125" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text250" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text500" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text1000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text2000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text4000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text8000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="text16000" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textPreamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textSmoothing" serializeAs="String">
                <value>0.85</value>
            </setting>
        </SoundSampler.Properties.Settings>
    </userSettings>
    <applicationSettings>
        
        <SoundSampler.Properties.Settings>
            <setting name="baud" serializeAs="String">
                <value>115200</value>
            </setting>
        </SoundSampler.Properties.Settings>
    </applicationSettings>
</configuration>
